@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap");

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --link-color: #757575;
  --title-color: #212121;
  --text-color: #757575;
  --background-color: #ffffff;
  --brand-color: #2196f3;
  --text-font-family: "Roboto", "sans-serif";
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a {
  transition: color var(--transition);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  font-weight: 700;
  color: #212121;
}

body {
  color: #212121;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42em;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  background-color: var(--background-color);
  color: var(--title-color);
}

ul {
  list-style: none;
}

.header-contacts__website {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.mail-ico:hover,
.mail-ico:focus {
  color: var(--brand-color);
}

.header-contacts__website:hover,
.header-contacts__website:focus {
  color: var(--brand-color);
}
.header-contacts__phonenumber {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.header-contacts__phonenumber:hover,
.header-contacts__phonenumber:focus {
  color: var(--brand-color);
}
.header-contacts {
  margin-right: 60px;
}
.header-mail-phone {
  margin-right: 20px;
}

.header-logo {
  border: 0px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 215px;
}

.header-logo,
.menu-top-container,
.header-contacts,
.About-us-section,
.our-team-section,
.button-bar,
.projects-list > ul {
  list-style: none;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  align-items: center;
}
.About-us-section {
  gap: 30px;
}

.About-us-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 3%;
  margin-top: 30px;
}

.About-us-section-container {
  margin-left: 10px;
}
.about-us-section-four-icons {
  margin-left: 30px;
}

.About-us-section__description {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 3%;
}

.what-we-do-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 50px;
}
/*.three-images,*/
.our-team-section {
  padding: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.three-images {
  display: flex;
  box-sizing: content-box;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: calc((100%-30px) / 3);
  background-color: #fff;
  margin-bottom: 90px;
  padding-left: 6%;
  height: 294px;
}

.background-team {
  background-color: rgba(245, 244, 250, 1);
  width: 1280px;
  height: 700px;
  flex-shrink: 0;
}

.title-what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  padding-top: 90px;
  padding-left: 560px;
}

.our-team-section {
  color: var(--title-color);
}

.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}

.our-team-departmant {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}
.our-team-departmant {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}

.image-description {
  color: #212121;
  font-family: Roboto "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 11200px;
  line-height: 36px;
  letter-spacing: 1.08px;
  display: flex;
  width: 322px;
  flex-direction: column;
  flex-shrink: 0;
}

.paragraph-layout {
  color: #757575;
  font-family: Roboto "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 6400px;
  line-height: 30px;
  letter-spacing: 0.48px;
  display: flex;
  width: 322px;
  flex-direction: column;
  flex-shrink: 0;
}

.button-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: var(--background-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f5f4fa;
  color: var(--title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button .button-one__all {
  width: 64px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
}

.button-one__all {
  width: 64px;
  height: 38px;
  flex-shrink: 0;
}

.button-bar-focus {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-two {
  width: 120px;
  height: 38px;
  flex-shrink: 0;
}

.button-three {
  width: 83px;
  height: 38px;
  flex-shrink: 0;
}

.button-four {
  width: 96px;
  height: 38px;
  flex-shrink: 0;
}

.button-five {
  width: 121px;
  height: 38px;
}

div {
  display: block;
}

.footer {
  background: #2f303a;
  width: 1280px;
  height: 251px;

  padding: 60px 60px 10px;
  display: flex;
  margin: 0px;
}
.logo {
  padding-left: 35px;
}

.colored-word-studio {
  color: white;
}

.logo-second-color {
  color: var(--background-color);
}

.colored-word-1 {
  color: #2196f3;
  font-family: "Raleway", "sans-serif";
}

.colored-word-2 {
  color: white;
  font-family: "Raleway", "sans-serif";
}

.colored-word-1-2 {
  font-family: "Raleway", "sans-serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 11200px;
  line-height: normal;
  letter-spacing: 0.78px;
}

.email-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 6400px;
  line-height: normal;
  letter-spacing: 0.42px;
  display: flex;
  width: 231px;
  flex-direction: column;
  flex-shrink: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-left: 170px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 3%;
  list-style: none;
  display: flex;
}

.footer-address {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  display: flex;
}

.footer-address__location {
  color: var(--background-color);
  line-height: 1.18;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 207px;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 207px;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-address__contacts:hover,
.footer-address__contacts:focus {
  color: var(--brand-color);
}

.footer-address__location:hover,
.footer-address__location:focus {
  color: var(--brand-color);
}

.main-title-section {
  background: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.8)),
    url("../images/Img-main-bg.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-color: #2f303a;
  width: 1280px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
}

.main-title__discription {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  width: 696px;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.service-btn {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 6%;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
  margin-left: 20px;
  margin-top: 15px;
  position: absolute;
  border: none;
}
.logo {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 3%;
  padding-left: 0px;
}

.logo-color {
  color: var(--brand-color);
}

.first-word-color {
  color: #2196f3;
}

.icons-list {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: rgba(175, 177, 184, 1);
}

.icons-list .icon svg {
  width: 20px;
  height: 20px;
}
.icons-list .icon:hover,
.icons-list .icon:focus {
  background-color: var(--brand-color);
}
.about-us-icons {
  background-color: rgba(245, 244, 250, 1);

  height: 120px;
  flex-shrink: 0;
  margin-top: 94px;
}

.icon-about {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
}
.about-us-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-customers-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  margin-bottom: 50px;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
}
.block-list {
  display: flex;
  justify-content: center;
  margin: -15px -15px;
}
.block-item {
  margin: 15px 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 0;
  margin-block: 94px;
}
.block-link {
  display: flex;
  height: 60px;
  -ms-flex-align: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-link:hover,
.block-link:focus {
  color: #2196f3;
}
.block-item:hover,
.block-item:focus {
  border: 2px solid #2196f3;
}
.block-icon:hover,
.block-icon:focus {
  color: #2196f3;
}
.block-link:hover,
.block-link:focus {
  color: #2196f3;
}
.customer-icon:hover,
.customer-icon:focus {
  color: #2196f3;
}
.customer-icon {
  width: 106px;
  height: 60px;
  border: 0px solid rgba(175, 177, 184, 1);
  border-radius: 2px;
}

/* social-icons */

.icons-list-footer {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
}

.icons-list-footer {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list-footer .icon-footer {
  width: 44px;
  height: 44px;
  background-color: #373841;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
}

.icons-list-footer .icon-footer svg {
  width: 20px;
  height: 20px;
}
.icons-list-footer .icon-footer:hover,
.icons-list-footer .icon-footer:focus {
  background-color: var(--brand-color);
}

.section-social-media {
  display: flex;
  margin: 15px;
  padding-left: 75px;
}
.find-us {
  color: white;
  margin-top: -45px;
  text-align: center;
  margin-right: -110px;
  font-size: 16px;
}
.section-find {
  display: flex;
  justify-content: center;
}

.mail-icon {
  width: 15px;
  height: 15px;
  margin-top: 1px;
}
.mail-ico {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Cards section*/

.card-list-item {
  margin: 15px 15px;
  text-align: center;
  line-height: 1.18em;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.card-list__title {
  margin-bottom: 10px;
  font-weight: 700;
}
.card {
  background-color: #f5f4fa;
}

.our-team-departmant-title {
  padding: 30px 32px 24px 32px;
}

hr {
  border: 1px solid;
  color: rgba(236, 236, 236, 1);
}
/* Portofolio*/
.header-container {
  margin-top: 22px;
  margin-bottom: 22px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  padding: 16px;
  background-color: var(--heading-color);
  width: 50%;
  margin: 0 auto;
  height: 500px;
  position: relative;
}
.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}
.close-btn {
  background-color: red;
  border: 1px solid red;
  color: white;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 16px;
  top: 16px;
}
.close-btn:hover .close-btn:focus {
  background-color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  overflow: auto;
  top: 50px;
  left: 29%;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform var(--transition);
  pointer-events: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 9px;
  border: none;
  width: 100%;
  top: -100px;
  position: relative;
  height: 583px;
}

/* The Close Button */
.close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #aaaaaa;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  margin: 0px;
  padding: 3px;
}

/* Portofolio 9 cards*/

.frame-card-list {
  margin: 0 auto;
}

.frame-card-list__item {
  border: 1px solid #eeeeee;
  margin: 15px 15px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.frame-card-list__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.frame-card-list__link {
  display: block;
  text-decoration: none;
}

.nine-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 70px;
  margin-left: 30px;
}

.frame-card-list__img-overlay {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.frame-card-list__item:hover .frame-card-list__img-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.frame-card-list__text {
  position: absolute;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 1.5em;
  color: #fff;
}

.frame-card-list__content {
  padding: 20px 24px;
}

.frame-card-list__title {
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.frame-card-list__discription {
  line-height: 1.8em;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}

.frame-card-list__item:hover,
.frame-card-list__item:focus {
  display: block;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
/* Navigation bar portofolio */

.navbar-container.is-open {
  display: block;
}

.navigation-bar {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list {
  display: flex;
}
.navigation-item {
  padding: 0 25px;
}
.nav__link {
  position: relative;
  text-decoration: none;
  line-height: 1.14px;
  padding: 32px 0;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

.nine-cards:hover,
.nine-cards:focus {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.navigation-list .studio-page::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #2196f3;
  bottom: 0;
  display: flex;
}

.navigation-list .portfolio-page::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #2196f3;
  bottom: 0;
  display: flex;
}

.studio-page,
.portfolio-page {
  color: var(--brand-color);
}

.motto-cards-elements {
  position: relative;
}
.overlay-text-img {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  bottom: 0;
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-img {
  display: flex;
  flex: row;
  gap: 20px;
}
.img-des {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* form */
form {
  margin-top: 25px;
}
form label {
  position: relative;
}
.person-img {
  position: absolute;
  left: 76px;
  top: 1px;
}
form label input:focus {
  border: 2px solid red;
  outline: none;
}
form label input:focus + .person-img {
  color: red;
}
form label input {
  padding: 0 25px;
}

/* Formular */

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  padding: 0px;
  left: 30px;
}
.input-icon {
  position: absolute;
  top: 56%;
  left: 12px;
  width: 18px;
  height: 18px;
}
/* from portofilio */
form {
  margin-top: 25px;
}
form label {
  position: relative;
}

form label input {
  padding: 0 35px;
}
form label input:focus,
.input-icon-name:focus {
  border: 2px solid red;
}
.input-icon-name {
  padding: 0 35px;
}
input {
  padding: 20px;
}
.input-icon-name {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 10px;
  flex-shrink: 0;
}
.text-form-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
